/* -------------------------------------------- */
/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Sue+Ellen+Francisco&display=swap"); */
/* -------------------------------------------- */

/* ---variables-- */
:root {
  --clr-hr: #ffff;
}
/* -------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  min-width: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* -------------------------------------------------- */
/* Utilities  */
.center-text {
  text-align: center;
}

/* -------------------------------------------------- */

.bg-box {
  position: relative;
  overflow-x: hidden;
}

.bg-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  inset: 0;
  filter: blur(2px) grayscale(0.65);
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-top: 1.5rem;
}

.card {
  /* ---center the card within its container---*/
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
  /* ---------------------------- */
  min-width: 290px;
  width: 80%;
  padding: 0.5em 0;
  border-radius: 2em;
  background-color: #642c25;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.est-date {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.food-section {
  width: 90%;
}

.card > .food-section {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.card > .food-section ~ .food-section {
  border: none;
}

.food-category__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  line-height: 1.6;
}

.food-category-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.food-category-icon {
  margin-inline: auto;
  width: 3.5em;
}

.menu__entry {
  font-size: 1.5rem;
}

hr {
  margin: 0;
  background-color: var(--clr-hr);
  width: 100%;
  height: 1px;
}

.footer {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

/* ----Media queries --- */

@media screen and (min-width: 576px) {
  .card {
    max-width: 470px;
  }
  .main-title {
    font-size: 4rem;
  }
  .menu__entry {
    font-size: 1.6rem;
  }
  .food-category-title {
    font-size: 2.4rem;
  }
}
